<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" date="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <p> <a href="/">На главную</a></p>
    <h1>Загруженные файлы</h1>

    <div class="row col-md-7 table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Имся файла</th>
                <th>Загружено чеков</th>
                <th>Лог</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="file : ${fileList}">
                <td th:text="${file.fileName}"/>
                <td th:text="${file.loadedSaleCount}"/>
                <td th:text="${file.log}"/>
            </tr>

            </tbody>
        </table>
    </div>

</body>
</html>